.aboutus{
    padding-top: 60px;
    padding-left: 130px;
    font-size: 20px;
    width: 80%;

}

.aboutus h4 {
  color: white;
}

.aboutus a {
    text-decoration: none;

}

.aboutus .first{
    color: #F29414;
    font-family: "museo-sans",sans-serif;
    padding: 30px;
    font-size: 30px;

}

.aboutus .second{
    color: white;
    font-family: "museo-sans",sans-serif;
    padding: 30px;
    font-size: 30px;

}
.aboutus .mission{
    height: 200px;
    width: 1226px;
    padding: 50px;
    line-height: 1.5;
    font-family: "museo-sans",sans-serif;
    background: #F29414;
    color: white;
}
.text-center {
  text-align: center;
}
.aboutus .steps {
  display: flex;
  flex-direction: row;
}
img {
  margin-outside: 20px;
  height: 300px;
  width: 300px;
}
.aboutus .step {
  font-family: "museo-sans", sans-serif;
  padding-right: 15px;
  padding-left: 15px;
}
.aboutus .members {
  display: flex;
  flex-direction: row;
}
.aboutus .members {
  font-family: "museo-sans", sans-serif;
  padding-right: 15px;
  padding-left: 15px;
}
#here{
    padding:  50px;

}
