<div class="aboutus">
  <h4 class="first">HOW IT WORKS! </h4>
  <div class="steps">
    <div class="step text-center">
                    <img class="img-responsive" style="margin-left: 35px;" src="https://github.com/aseke7182/WebProject/blob/master/images/order-food.png?raw=true" alt="">
                    <h4>ORDER</h4>
                </div>
                <div class="step text-center">
                    <img class="img-responsive" src="https://github.com/aseke7182/WebProject/blob/master/images/scooter%20(1).png?raw=true" style="margin-left: 18px;" alt="">
                    <h4>RELAX</h4>
                </div>
                <div class="step text-center">
                    <img class="img-responsive" src="https://github.com/aseke7182/WebProject/blob/master/images/hamburger.png?raw=true" alt="">
                    <h4>ENJOY</h4>
                </div>
  </div>


  <div class="mission">
                    <h3>OUR MISSION</h3>
    <br><br>
                        <p></p><p>"Bringing good food into your everyday. That's our mission.</p>
<p>That means we don't just deliver--we bring it, always going the extra mile to make your experience memorable.</p>
<p>And it means this is delicious food you can enjoy everyday: from vibrant salads for healthy office lunches, to indulgent family-sized pizzas, to fresh sushi for a romantic night in. Whatever you crave, we can help."</p>
<p></p> </div>
<br><br>
  <h4 class="first">OUR TEAM! </h4>
  <div class="members">
    <div class="member text-center">
                    <img class="img-responsive" style="margin-left: 35px;" src="https://avatars2.githubusercontent.com/u/35268423?s=460&v=4" alt="">
                    <h4>АСКАР МУСАЕВ</h4>
                </div>
                <div class="step text-center">
                    <img class="img-responsive" src="https://github.com/aseke7182/WebProject/blob/master/images/scooter%20(1).png?raw=true" style="margin-left: 18px;" alt="">
                    <h4>ЛЕЙЛА ДОСКУМБАЕВА</h4>
                </div>
                <div class="step text-center">
                    <img class="img-responsive" src="https://github.com/aseke7182/WebProject/blob/master/images/hamburger.png?raw=true" alt="">
                    <h4>АРУЖАН ТЛЕК</h4>
                </div>
  </div>
</div>

