<div class="aboutus">
  <h2>PlantYou </h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Gmail</th>
            <th>Github</th>
        </tr>
        <tr>
            <td>Mussayev Askar</td>
            <td>aseke7182@gmail.com</td>
            <td><a href="https://github.com/aseke7182">aseke7182</a></td>
        </tr>
        <tr>
            <td>Duskumbay Leila</td>
            <td>leiladoskumbay@gmail.com</td>
            <td><a href="https://github.com/LeilaDos">LeilaDos</a> </td>
        </tr>
        <tr>
            <td>Tlek Aruzhan</td>
            <td></td>
            <td><a href="https://github.com/AruzhanTlek">AruzhanTlek</a> </td>
        </tr>
    </table>
     <h2>About Us</h2>
     
    <p id="here"> Our website plantyou.kz is all about plant-based diet.
        The main functionalities include:</p>
    <p>- Choosing the favorable recipe. </p>
    <p>- Adding/cutting ingredients. </p>
    <p>- Choosing the number of servings. </p>
    <p>- Ordering food</p>
</div>