{% extends 'base.html' %}
{% block body %}
    <div class="block1" style="padding: 0 10%;display: block;background: #F29414; height: 400px;">
        <h1 style="font-size:52px;color: #FFF;position: relative; top: 180px; padding-left: 500px;"><b>Plant You</b></h1>
        <div class="about us" style="top: 350px;position: relative; background-color: #F29414; height: 550px;">
            <h1 style="text-align: center;color:#FFF;padding-top: 90px;font-size:44px;" ><b>About us</b></h1>
            <p style="text-align: center;color: #FFF;padding-top:10px;width: 700px;left:250px; position: relative; font-size: 24px;">Mussayev Askar</p>
            <p style="text-align: center;color: #FFF;padding-top:10px;width: 700px;left:250px; position: relative; font-size: 24px;">Doskumbay Leila</p>
            <p style="text-align: center;color: #FFF;padding-top:10px;width: 700px;left:250px; position: relative; font-size: 24px;">Tlek Aruzhan</p>
               <p style="text-align: center;color: #FFF;padding-top:10px;width: 700px;left:250px; position: relative; font-size: 24px;"> Our website plantyou.kz is all about plant-based diet.
        The main functionalities include:
    - Choosing the favorable recipe.
    - Adding/cutting ingredients.
            -Choosing the number of servings.
    - Ordering food</p>
        </div>
    </div>
{% endblock %}