<div class="main">
  <div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="cont">Contact
                    <strong>Plant You</strong>
                </h2>
                <hr>
            </div>
            <div class="col-md-8">
                <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5811.51682949792!2d76.94613352194824!3d43.256484732500134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836e95de400b7f%3A0x26ab3634df1eae6b!2z0JrQsNC30LDRhdGB0YLQsNC90YHQutC-LdCR0YDQuNGC0LDQvdGB0LrQuNC5INGC0LXRhdC90LjRh9C10YHQutC40Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgg!5e0!3m2!1sru!2skz!4v1511986133775"></iframe>
            </div>
            <div class="col-md-4">
                <p>Contacts:<br>
                    <strong>8-777-741-88-40</strong>
                </p>
                <p>Git profiles:<br>
                    <strong><a href="https://github.com/aseke7182/WebProject">Aseke7182     </a></strong><br>
                    <strong><a href="https://github.com/aseke7182/WebProject">LeilaDos</a></strong><br>
                    <strong><a href="https://github.com/aseke7182/WebProject">AruzhanTlek</a></strong><br>
                </p>
                <p>Address:<br>
                    <strong>Almaty, Tole bi st, 59</strong>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
