.container{
    padding-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.main a{
     text-decoration: none;
}
.col-md-8 {
    width: 66.66666667%;
  }
.col-md-4 {
    width: 33.33333333%;
  }
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
