<div class="calatog">
  <ng-container *ngIf="IsCatalog">
    <div *ngFor="let c of catalog" >
      {{c.id}}. {{c.name}}:
      <img src="{{c.image}}" alt="Photo Of This Catalog">
      <button (click)="ChangeStatus(c)">Choose This Food</button>
    </div>
  </ng-container>
  <ng-container *ngIf="!IsCatalog">
    {{foodscatalog.name}}
    <div *ngFor="let f of food">
        <p>{{f.id}}.{{f.name}}:{{f.portion}}:</p>
        Price: {{f.price}}  
        <br>
        Ingredients:
        <div *ngFor="let i of f.ingredients">
          {{i.name}}
        </div>
        <button (click)="AddToOrder(f)">Make Order</button>
        <br><br>
    </div>
    <button (click)="Buy()"> Buy</button>
    <button (click)="ChangeStatus(foodscatalog)">Go Back To Catalog</button>
  </ng-container>
</div>