<div class="signup">
  <ng-container *ngIf="!completed">
    <input type="text"  placeholder="Username" [(ngModel)]="username"> <br>
    <input type="email"  placeholder="Email"[(ngModel)]="email"> <br>
    <input type="password"  placeholder="Password"[(ngModel)]="password"> <br>
    <input type="password"  placeholder="One More Time Password" [(ngModel)]="password2"><br>
    <button (click)="signup()" >Sign Up</button>
  </ng-container>
  <ng-container *ngIf="completed">
    <h1>You Registered</h1>
    <a href="/"><button>Go Home</button> </a>
  </ng-container>
</div>
