<div class="login">
    <div class="space-bot text-center"><h1 style="font-family: 'Arial'">You already have logged in</h1><div class="divider"></div></div>
  <ng-container *ngIf="!logged">
    <div class="input-field cols6"><input type="text"  placeholder="Username" [(ngModel)]="username"></div> <br>
    <div class="input-field cols6"><input type="password"  placeholder="Password"[(ngModel)]="password"> </div><br>
      <button (click)="login()" >Log In</button>
  </ng-container>
  <ng-container *ngIf="logged">
      <h1 style="font-family: 'Arial'">You Already Have Logged In</h1>
      <a href="/"><button>Go Home</button></a> <br>
      <button (click)="logout()">Log Out</button>
  </ng-container>
</div>