<div class="calatog">
  <ng-container *ngIf="IsCatalog">
    <div *ngFor="let c of catalog" >
      {{c.id}}. {{c.name}}:
      <img src="{{c.image}}" alt="Photo Of This Catalog">
      <button (click)="ChangeStatus(c)">Choose This Food</button>
    </div>
  </ng-container>
  <ng-container *ngIf="!IsCatalog">
    {{foodscatalog.name}}
    <div *ngFor="let f of food">
        {{f.id}}.{{f.name}}:{{f.portion}}
    </div>
    <button (click)="ChangeStatus(foodscatalog)">Go Back To Catalog</button>
  </ng-container>
</div>