header{
    background: white;
    display: flex;
    justify-content: space-around;
    height: 56px;
    width: 1440px;
    position: fixed;
    align-items: center; 
    z-index: 999;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

header img{
    height: 40px;
    width: 40px;
    margin: 10px;
}
header h1{
  font-size: 20px;
  color: #F29414;
}
.leftside {
  display: flex;
  align-items: center;
}

header a{
    font-size: 100%;
    text-decoration: none;
    color: #F29414;
}

nav a{
    margin: 0px 25px;
    letter-spacing: 2px;
}
