<div class="aboutus">
  <h2>PlantYou </h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Gmail</th>
            <th>Github</th>
            <th>PhoneNumber</th>
        </tr>
        <ng-container *ngFor="let d of developers">
            <tr>
                <td>{{d.name}}</td>
                <td>{{d.email}}</td>
                <td><a href="https://github.com/{{d.github}}">{{d.github}}</a></td>
                <td>{{d.phone}}</td>
            </tr>
        </ng-container>
    </table>
     <h2>About Us</h2>
     
    <p id="here"> Our website plantyou.kz is all about plant-based diet.
        The main functionalities include:</p>
    <p>- Choosing the favorable recipe. </p>
    <p>- Adding/cutting ingredients. </p>
    <p>- Choosing the number of servings. </p>
    <p>- Ordering food</p>
</div>